{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center mb-3">Question Details {{ question.id }}</h1>
    <h3 class="text-center mb-3">{{ question.question_text }}</h3>
    <form method="POST" action="{% url 'polls:vote' question.id %}" class="mb-3">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="choice" value="{{ choice.id }}" checked>
            <label class="form-check-label" for="exampleRadios1">
                {{ choice.choise_text }}
            </label>
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-danger mt-2" value="vote" />
        <a href="{% url 'polls:index' %}" class="btn btn-primary mt-2">Polls</a>
    </form>
{% endblock %}